@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.cdnfonts.com/css/ds-digital');

/* Variables */
:root {
  --font-family: "Roboto", sans-serif;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #14453d;
  --bg-secondary-color: #fff;
  --primary-color: lightgrey;
  --secondary-color: #ff7235;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
  --btn: #6A7152;
}

html {
  scroll-behavior: smooth;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--secondary-shadow);
}

a:hover {
  color: var(--secondary-color);
}

body {
  font-family: var(--font-family);
  background-image: url('imgs/BalatroBG.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  cursor: url('imgs/sword.cur'), auto;
  overflow-x: hidden;
}





/* Nav styling */
nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  height: 80px;
  background-color: var(--bg-color);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  color: var(--primary-color);
}

.nav-content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}


.nav-content-container h1:first-child {
  position: absolute;
  right: 50%;
  margin-right: 20px;
}

.nav-content-container h1:last-child {
  position: absolute;
  left: 50%;
  margin-left: 20px;
}

nav h1 {
  color: var(--primary-color);
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Bauhaus 93";
  font-size: 30px;
}


nav h1:hover {
  font-weight: var(--bolder-font);
  transition: all 0.2s ease;
  cursor: pointer;
  transform: scale(1.05);
}

/* vertical line for nav */
.vl {
  border-left: 2px solid var(--primary-color);
  height: 30px;
}

nav a {
  color: #3d7068;
  transition: var(--transition);
}

nav a:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

nav ul {
  display: flex;
  gap: 1.9rem;
  position: fixed;
  background-color: rgba(245, 245, 245, 0.95);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  top: 86px;
  right: 0;
  width: 300px;
  max-height: 100vh;
  align-items: flex-start;
  padding: 1rem;
  text-align: right;
  transform: translateX(100%);
  transition: transform 0.3s ease-in;
  overflow-y: auto;
}

nav ul li {
  font-weight: var(--bold-font);
  margin: 8px;
}

.nav-link:last-child {
  margin-right: 20px;
}

.burger-menu {
  color: var(--primary-color);
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: block;
  margin-left: auto;
  padding-right: 20px;
}

nav ul.show {
  transform: translateX(0);
}



/* typing animation */
.typing-animation h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  line-height: 2.5rem;
  font-size: 2rem;
  text-align: center;
  margin: 0;
  font-weight: var(--bold-font);
  color: white;
}

.typing-animation #typing {
  display: inline-block;
  border-right: 2px solid #AF5D63;
  white-space: nowrap;
  overflow: hidden;
  color: #AF5D63;
  font-weight: var(--bolder-font);
  line-height: 2.5rem;
  vertical-align: middle;
  margin-left: 0.5rem;
}



/* hero section */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  max-width: 68.75rem;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 10px;
  scroll-margin-top: 70px;
}

.hero img {
  height: 37.5rem;
  width: 37.5rem;
  box-shadow: 0 10px 25px 2px var(--primary-shadow);
  border-radius: 10%;
}

.bio {
  width: 25rem;
  padding: 0.625rem;
  border-radius: 10px;
  box-shadow: 0px 2px 15px 2px var(--primary-shadow);
  background-color: var(--bg-secondary-color);
}

.bio h1 {
  margin-bottom: var(--bottom-margin);
}

.bio p {
  line-height: var(--line-height);
  padding: 0.3rem 0;
}

.more-about {
  background-color: var(--bg-color);
  padding: 1rem 6rem;
  color: var(--primary-color);
}

.more-about h2 {
  margin-bottom: var(--bottom-margin);
  text-align: center;
}

.more-about p {
  line-height: var(--line-height);
  padding: 0.4rem;
  font-size: 1.25rem;
}

.loaf-hover {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.loaf-img {
  position: absolute;
  top: -270%;
  left: 50%;
  transform: translate(-50%, 0);
  max-width: 150x;
  max-height: 150px;
  width: auto;
  height: auto;
  border-radius: 20px;
  display: none;
  transition: all 0.3s ease;
  z-index: 100;
}

.loaf-hover:hover .loaf-img {
  display: block;
  transform: translate(-50%, -90px);
}

.skills {
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
  scroll-margin-top: 100px;
  color: white;
}

.skills-header {
  margin-bottom: 100px;
}

.skills-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  margin: auto;
  margin-top: 25px;
}

.skills-wrapper img {
  padding: 1.25rem;
}


.skill-card {
  perspective: 1000px;
  width: calc(25% - 40px);
  height: 150px;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.skill-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.skill-card:hover .skill-card-inner,
.skill-card.flip .skill-card-inner {
  transform: rotateY(180deg);
  /*Flip on hover */
}

.skill-card-front,
.skill-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.skill-card-back {
  transform: rotateY(180deg);
  /*padding: 1em;*/
  font-size: 12px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--bg-color);
}

.skill-mobile {
  display: none;
}



.icon {
  width: 11.875rem;
  height: 11.25rem;
  text-align: center;
}

.icon-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
  padding: 20px;
  margin: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
}



.projects {
  background-color: var(--bg-color);
  padding: 32px 0;
  margin-top: 2rem;
  scroll-margin-top: 70px;
}

.project-pic {
  width: 65%;
  height: 60%;
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-title {
  text-align: center;
  margin-bottom: 1rem;
  color: var(--primary-color);
}

.project-container {
  text-align: center;
  width: 21.875rem;
  padding: 1rem;
}

.project-container p {
  padding: 0.4rem;
}

project-title {
  margin-bottom: var(--bottom-margin);
}

.project-details {
  margin-bottom: var(--bottom-margin);
}

.project-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 20px;
  margin: 10px;
}

.contact {
  margin-top: 2rem;
  scroll-margin-top: 100px;
  color: white;
}

.contact h2 {
  text-align: center;
  margin-bottom: var(--bottom-margin-2);
}

.contact-form-container {
  max-width: 40.75rem;
  margin: 0 auto;
  padding: 0.938rem;
  border-radius: 15px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
  background-color: var(--bg-secondary-color);
}

.contact-form-container label {
  line-height: 2.7em;
  font-weight: var(--bold-font);
  color: black;
}

.contact-form-container textarea {
  min-height: 6.25rem;
  font-size: 14px;
}

.contact-form-container .input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: 2px outset var(--primary-color);
  font-size: 0.875rem;
  outline: none;
}

.input-field::placeholder {
  padding: 0.5rem;
  color: var(--primary-color);
}

.submit-btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: var(--bold-font);
  transition: var(--transition);
  background-color: var(--bg-color);
}

.submit-btn:hover {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  cursor: pointer;
  color: black;
}

footer {
  background-color: var(--bg-color);
  padding: 1.25rem;
  text-align: center;
  margin: 2rem 0 0;
  color: var(--primary-color);
}

#scroll-to-top {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  background-color: whitesmoke;
  border: none;
  border-radius: 50%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  z-index: 1000;
}

#scroll-to-top:hover {
  background-color: #e8e8e8;
}

#scroll-to-top.show {
  opacity: 1;
  visibility: visible;
}

#scroll-to-top ion-icon {
  font-size: 1.2rem;
  color: var(--bg-color);
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  padding-bottom: 1rem;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.social-links a {
  display: block;
  transition: transform 0.3s ease;
}

.social-links a .social-icon {
  /* Targeting the img tag with the class of .social-icon */
  width: 2.75rem;
  /* Uniform size for all icons */
  height: 2.75rem;
  /* Uniform size for all icons */
  transition: transform 0.3s ease;
}

/* Hover effect to scale the social icons */
.social-links a:hover .social-icon {
  transform: scale(1.1);
  cursor: pointer;
}

.social-icon {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 10px;
  /* Reduced padding */
  margin: 10px;
  transition: transform 0.3s ease;
}


/* CERT BUTTON */
.cert-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  /* Increased bottom margin for more space */
}

.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 14px;
  background-image: linear-gradient(var(--btn), var(--bg-color));
  color: var(--primary-color);
  border: solid 2px var(--bg-color);
  height: 50px;
  padding: 0px 25px;
  border-radius: 5px;
  font-weight: 600;
  transform: scale(0.89);
  position: relative;
}

.button:not(:hover) .hide,
.button:not(:hover) .icon::before,
.button:not(:hover) .icon::after {
  opacity: 0;
  visibility: hidden;
  transform: scale(1.4);
}

.hide {
  transition: all 0.2s ease;
}

.button:active {
  background-image: linear-gradient(var(--btn), var(--bg-color));
  border-color: var(--bg-color);
}

.padding-left {
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: var(--primary-color);
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.padding-left:before {
  content: "";
  width: 2px;
  height: 10px;
  background-color: var(--primary-color);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.padding-left:after {
  content: "";
  width: 2px;
  height: 10px;
  background-color: var(--primary-color);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.padding-left-line {
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: var(--primary-color);
  left: -24px;
  top: 11px;
  transform: rotate(-50deg);
}

.padding-left-line::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 6px;
  height: 6px;
  transform: translate(-50%, -50%);
  background-color: var(--primary-color);
  border-radius: 100%;
}

.padding-left-text {
  color: var(--primary-color);
  font-size: 12px;
  position: absolute;
  white-space: nowrap;
  transform: rotate(50deg);
  bottom: 30px;
  left: -67px;
}

.padding-right {
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: var(--primary-color);
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.padding-right:before {
  content: "";
  width: 2px;
  height: 10px;
  background-color: var(--primary-color);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.padding-right:after {
  content: "";
  width: 2px;
  height: 10px;
  background-color: var(--primary-color);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.padding-right-line {
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: var(--primary-color);
  right: -24px;
  top: 11px;
  transform: rotate(50deg);
}

.padding-right-line::before {
  content: "";
  position: absolute;
  left: 30px;
  top: 0;
  width: 6px;
  height: 6px;
  transform: translate(-50%, -50%);
  background-color: var(--primary-color);
  border-radius: 100%;
}

.padding-right-text {
  color: var(--primary-color);
  font-size: 12px;
  position: absolute;
  white-space: nowrap;
  transform: rotate(-50deg);
  bottom: 34px;
  left: 21px;
}

.background {
  position: absolute;
}

.background::before {
  content: "";
  position: absolute;
  right: 27px;
  bottom: -70px;
  width: 100px;
  height: 53px;
  background-color: transparent;
  border-radius: 0px 0px 22px 22px;
  border-right: solid 2px var(--primary-color);
  border-bottom: solid 2px transparent;
}

.background::after {
  content: "";
  position: absolute;
  right: 25px;
  bottom: -20px;
  width: 6px;
  height: 6px;
  background-color: var(--primary-color);
  border-radius: 100%;
}

.background-text {
  position: absolute;
  color: var(--primary-color);
  font-size: 12px;
  bottom: -70px;
  left: -115px;
}

.border {
  position: absolute;
  right: 0;
  top: 0;
}

.border:before {
  content: "";
  width: 15px;
  height: 15px;
  border: solid 2px var(--primary-color);
  position: absolute;
  right: 0%;
  top: 0;
  transform: translate(50%, -50%);
  border-radius: 100%;
}

.border:after {
  content: "";
  width: 2px;
  height: 25px;
  background-color: var(--primary-color);
  position: absolute;
  right: -10px;
  top: -15px;
  transform: translate(50%, -50%) rotate(60deg);
}

.border .border-text {
  position: absolute;
  color: var(--primary-color);
  font-size: 12px;
  right: -112px;
  top: -30px;
  white-space: nowrap;
}


/* astronaut styling */
@keyframes snow {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }

  20% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translateY(100vh);
  }
}

@keyframes astronaut {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*------------------

BACKGROUND ANIMATION

--

------------------*/
.box-of-star1,
.box-of-star2,
.box-of-star3,
.box-of-star4 {
  width: 100%;
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
  transform: translateY(0px);
  height: 100vh;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.box-of-star1 {
  animation: snow 5s linear infinite;
}

.box-of-star2 {
  animation: snow 5s -1.64s linear infinite;
}

.box-of-star3 {
  animation: snow 5s -2.30s linear infinite;
}

.box-of-star4 {
  animation: snow 5s -3.30s linear infinite;
}

@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

.star {
  font-family: 'DS-Digital', monospace;
  font-size: 20px;
  color: #00ff00;
  position: absolute;
  z-index: 10;
  opacity: 0.7;
  margin: 0 1vw;
  text-shadow: 0 0 5px #00ff00;
}

.star:before {
  content: "1";
  position: absolute;
  z-index: 10;
  top: 80px;
  left: 70px;
  opacity: .7;
}

.star:after {
  content: "0";
  position: absolute;
  z-index: 10;
  top: 8px;
  left: 170px;
  opacity: .9;
}

.star-position1 {
  top: 30px;
  left: 5vw;
}

.star-position2 {
  top: 110px;
  left: 15vw;
}

.star-position3 {
  top: 60px;
  left: 25vw;
}

.star-position4 {
  top: 120px;
  left: 35vw;
}

.star-position5 {
  top: 20px;
  left: 45vw;
}

.star-position6 {
  top: 90px;
  left: 55vw;
}

.star-position7 {
  top: 30px;
  left: 65vw;
}

.star-position8 {
  top: 50px;
  left: 75vw;
}

.star-position9 {
  top: 65px;
  left: 85vw;
}

.star-position10 {
  top: 85px;
  left: 95vw;
}

.star-position11 {
  top: 40px;
  left: 90vw;
}

.astronaut {
  width: 250px;
  height: 300px;
  position: relative;
  z-index: 2;
  top: calc(50% - 150px);
  left: calc(50% - 125px);
  animation: astronaut 5s linear infinite;
  display: block;
}

.schoolbag {
  width: 100px;
  height: 150px;
  position: absolute;
  z-index: 1;
  top: calc(50% - 75px);
  left: calc(50% - 50px);
  background-color: #94b7ca;
  border-radius: 50px 50px 0 0 / 30px 30px 0 0;
}

.head {
  width: 97px;
  height: 80px;
  position: absolute;
  z-index: 3;
  background: -webkit-linear-gradient(left, #e3e8eb 0%, #e3e8eb 50%, #fbfdfa 50%, #fbfdfa 100%);
  border-radius: 50%;
  top: 34px;
  left: calc(50% - 47.5px);
}

.head:after {
  content: "";
  width: 60px;
  height: 50px;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 30px);
  background: -webkit-linear-gradient(top, #15aece 0%, #15aece 50%, #0391bf 50%, #0391bf 100%);
  border-radius: 15px;
}

.head:before {
  content: "";
  width: 12px;
  height: 25px;
  position: absolute;
  top: calc(50% - 12.5px);
  left: -4px;
  background-color: #618095;
  border-radius: 5px;
  box-shadow: 92px 0px 0px #618095;
}

.body {
  width: 85px;
  height: 100px;
  position: absolute;
  z-index: 2;
  background-color: #fffbff;
  border-radius: 40px / 20px;
  top: 105px;
  left: calc(50% - 41px);
  background: -webkit-linear-gradient(left, #e3e8eb 0%, #e3e8eb 50%, #fbfdfa 50%, #fbfdfa 100%);
}

.panel {
  width: 60px;
  height: 40px;
  position: absolute;
  top: 20px;
  left: calc(50% - 30px);
  background-color: #b7cceb;
}

.panel:before {
  content: "";
  width: 30px;
  height: 5px;
  position: absolute;
  top: 9px;
  left: 7px;
  background-color: #fbfdfa;
  box-shadow: 0px 9px 0px #fbfdfa, 0px 18px 0px #fbfdfa;
}

.panel:after {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  top: 9px;
  right: 7px;
  background-color: #fbfdfa;
  border-radius: 50%;
  box-shadow: 0px 14px 0px 2px #fbfdfa;
}

.arm {
  width: 80px;
  height: 30px;
  position: absolute;
  top: 121px;
  z-index: 2;
}

.arm-left {
  left: 30px;
  background-color: #e3e8eb;
  border-radius: 0 0 0 39px;
}

.arm-right {
  right: 30px;
  background-color: #fbfdfa;
  border-radius: 0 0 39px 0;
}

.arm-left:before,
.arm-right:before {
  content: "";
  width: 30px;
  height: 70px;
  position: absolute;
  top: -40px;
}

.arm-left:before {
  border-radius: 50px 50px 0px 120px / 50px 50px 0 110px;
  left: 0;
  background-color: #e3e8eb;
}

.arm-right:before {
  border-radius: 50px 50px 120px 0 / 50px 50px 110px 0;
  right: 0;
  background-color: #fbfdfa;
}

.arm-left:after,
.arm-right:after {
  content: "";
  width: 30px;
  height: 10px;
  position: absolute;
  top: -24px;
}

.arm-left:after {
  background-color: #6e91a4;
  left: 0;
}

.arm-right:after {
  right: 0;
  background-color: #b6d2e0;
}

.leg {
  width: 30px;
  height: 40px;
  position: absolute;
  z-index: 2;
  bottom: 70px;
}

.leg-left {
  left: 76px;
  background-color: #e3e8eb;
  transform: rotate(20deg);
}

.leg-right {
  right: 73px;
  background-color: #fbfdfa;
  transform: rotate(-20deg);
}

.leg-left:before,
.leg-right:before {
  content: "";
  width: 50px;
  height: 25px;
  position: absolute;
  bottom: -26px;
}

.leg-left:before {
  left: -20px;
  background-color: #e3e8eb;
  border-radius: 30px 0 0 0;
  border-bottom: 10px solid #6d96ac;
}

.leg-right:before {
  right: -20px;
  background-color: #fbfdfa;
  border-radius: 0 30px 0 0;
  border-bottom: 10px solid #b0cfe4;
}







/*
Mobile Styling
*/

/* New media query for mobile devices */
@media (max-width: 768px) {

  body {
    /*background-color: ;
    background-image: none;*/
  }

  nav h1 {
    font-size: 1.5rem;
    /* Smaller logo text */
    padding-left: 10px;
  }

  .burger-menu {
    display: inline-block;
    /* Ensure burger menu is visible */
  }

  nav ul {
    width: 100%;
    /* Full width nav menu */
    padding: 2rem;
    /* More padding */
  }

  .hero {
    flex-direction: column;
    /* Stack elements vertically */
    padding: 1rem;
    /* Padding for smaller screens */
  }

  .hero img {
    width: 100%;
    /* Full width image */
    height: auto;
    /* Maintain aspect ratio */
  }

  .bio,
  .more-about,
  .skills,
  .projects,
  .contact {
    padding: 1rem;
    /* Less padding for smaller screens */
  }

  .bio,
  .more-about p,
  .skills-header,
  .projects-title,
  .contact h2 {
    text-align: center;
    /* Centered text */
  }



  .hero,
  .skills,
  .projects,
  .contact,
  .socials,
  .astronaut {
    order: 0;
    /* this ensures that the order is reset for mobile, if needed */
  }

  .more-about {
    order: 1;
    padding: 1rem;
  }


  .skills-wrapper,
  .projects-container {
    flex-direction: column;
    /* Stack elements vertically */
    align-items: center;
    /*center elements horizontally */
  }

  .skills-wrapper .second-set {
    order: -1;
    /* Show second set of skills first */
  }

  .skills-wrapper {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding: 5px;
    top-margin: 25px;
    margin: 0 auto;
    background-color: #5C4033;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    /* Rounded corners */
  }

  .skill-mobile {
    display: block;
    /* Make sure it's displayed */
    margin: 0 auto;
    /* Center the block horizontally */
    padding: 10px 20px;
    /* Top and bottom padding of 10px, left and right padding of 20px */
    color: black;
    max-width: 600px;
    /* Maximum width of the element */
    text-align: center;
  }

  .skill-card {
    display: none;
    /*
    width: calc(50% - 10px);
     take half of the width minus the gap 
    height: calc(50vh - 20px);
     take half of the view height minus the gap 
    margin-bottom: 20px;
     add margin to the bottom */
  }

  .skill-card-inner {
    display: none;
  }

  /* Adjust the height of the card's front and back to be equal and enough to cover the content */
  .skill-card-front,
  .skill-card-back {
    display: none;
    /*position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
     padding inside the cards */
  }

  .skill-card-back {
    display: none;
    /*transform: rotateY(180deg);
    overflow: auto;
     Add scrollbar to the back side */
  }


  .project-container,
  .contact-form-container {
    width: auto;
    /* Full width on small screens */
  }

  .contact-form-container {
    padding: 1rem;
    /* Less padding for smaller screens */
  }

  .typing-animation h1 {
    font-size: 1.5rem;
    line-height: 2;
  }

  .home-btn {
    width: 20px;
    height: 20px;
  }
}




/*
CERTIFICATION PAGE STYLING
*/
.home-ref:hover {
  text-decoration: none;
  border-bottom: none;
}

.certification-container {
  text-align: center;
  margin: 20px
}

.certification-container h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

/* Additions for certificate display in rows of three */
.certificates {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  padding: 20px;
  margin: auto;
  width: fit-content;
}

.certificate {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 90%;
  max-width: 300px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  .certificates {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .certificates {
    grid-template-columns: 1fr;
  }
}

.certificate img {
  width: 100%;
  height: auto;
  cursor: pointer;
  transition: transform 0.2s;
  /* Animation */
}

.certificate img:hover {
  transform: scale(1.05);
  /* Zoom Effect */
}

.certificate p {
  margin-top: 10px;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.more-come-heading {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  color: black;
  /* Adjust the color based on your site's theme. */
  font-size: 2rem;
  /* Example font size, adjust as needed. */
  font-family: 'Roboto', sans-serif;
  /* Example font, ensure it matches your site's theme. */
  opacity: 0.7;
  /* Optional: style to make it less prominent */
  animation: fadeIn 2s;
  /* Gives a fade-in effect */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.7;
  }
}